body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    margin-right: 1%;
    height: 100%;
}

nav{
    display: flex;
    background-color: rgb(32, 110, 158);
    height: 60px;
    margin-left: auto;
}

.navbar-li {
    display: inline;
    text-decoration: none;
    color: white;
    height: auto;
}

#form-type{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
    color: white;
}

.navbar-a {
    background-color: rgba(0, 0, 255, 0.734);
    color: white;
    text-decoration: none;
    padding-left: 1.8em;
    padding-right: 1.8em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-a:hover{
    background-color: rgb(34, 74, 98);
}

.form {
    margin-left: 40%;
    margin-top: 15%;
}

#form-button{
    margin-left: auto;
}

#chart-container{
    margin-left: 10%;
}

h2{
    text-align: center;
}

#table-values-container {
    align-items: center;
}

#table-values {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    font-size: 1.2em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}

footer {
    height: 50px;
}


#table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table-content{
    margin: 10px;
}

#greenhouse_token_container{
    display: flex;
    align-items: center;
}

#greenhouse_token{
    margin-left: 2%;
    margin-right: 2%;
}

