<!DOCTYPE html>
<html lang="en">
    {% block head %}
    <head>
        <title>{% block title %}NSI{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/static/styles.css"/>
        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
            crossorigin="anonymous">  
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
            crossorigin="anonymous">
        </script>

        {% block advancedHead %}{% endblock %}
    </head>
    {% endblock %}
    <body>
        <div>
            <nav>
                <span id="form-type"><b>{% block form %}{% endblock %}</b></span>
                <ul class="navbar">
                    <li class="navbar-li">{% block greenhouses %}{% endblock %}</li>
                    <li class = "navbar-li">{% block username %}{% endblock %}</li>
                    <li class = "navbar-li">{% block log_out %}{% endblock %}</li>
                </ul>
            </nav>
        </div>
        <article>
            {% block content %}{% endblock %}
        </article>
    </body>
</html>
