{% extends 'base.html' %}

{% block advancedHead %} 
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap/css/cdb.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/cdbootstrap/js/cdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cdbootstrap/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/9d1d9a82d2.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="../static/script.js" type="text/javascript" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
{% endblock %}

{% block form %}{{greenhouse_name}}{% endblock %}
{% block greenhouses %}<a class="navbar-a" id="greenhouses_list" href="">Skleníky</a>{% endblock %}
{% block username %}<a class="navbar-a" href="">{{username}}</a>{% endblock %}
{% block log_out %}<a class="navbar-a" href="http://localhost:3000/login" onclick="LogOut()">Log out</a>{% endblock %}
<script>
  function LogOut(){
    localStorage.removeItem("token");
  }
</script>
{% block content %}
  <br>
  <div>
    <div>
      <h2>Graf teploty</h2>
    </div><br>
    <div id="chart-container">
        <canvas id="line-chart" height="400" width="1200"></canvas><br>
        <h4 id="last-value">Poslední změřená hodnota: </h4>
        <script>
          var temps = {{ last_values | safe }};
          if (temps.length > 0){
            var widget = document.getElementById('last-value');
            widget.append(JSON.stringify(temps[0]));
          }
        </script>
        <span id="greenhouse_token_container">
          <h4>Token pro vkládání hodnot:</h4>
          <b id="greenhouse_token">{{greenhouse_token}}</b>
          <button type="button" class="btn btn-danger" onclick="update_token()"><b>Generovat nový</b></button>
        </span>
        <script>
          function update_token(){
            var req = new XMLHttpRequest();
            req.open("GET", "http://localhost:3000/api/generateDeviceToken?token=" + localStorage.getItem("token") + "&greenhouseId=" + {{greenhouseId}}, true);
            req.onreadystatechange = function () {
              if (req.status == 200 && req.readyState == 4) {
                var content = JSON.parse(req.response);
                console.log(content);
                document.getElementById("greenhouse_token").innerHTML = content["greenhouse_token"];
              }
            }
            req.send();
          }
        </script>
        <button type="button" class="btn btn-success" id="watering_button" onclick="watering()"><b>Zalít skleník</b></button>
        <script>
          function watering(){
            var req = new XMLHttpRequest();
            req.open("GET", "http://localhost:3000/api/watering?token=" + localStorage.getItem("token") + "&greenhouseId=" + {{greenhouseId}}, true);
            req.send();
          }
        </script>
    </div><br><br>
    <script>
      document.getElementById("greenhouses_list").href = "http://localhost:3000/greenhouses?token=" + localStorage.getItem("token");
    </script>
  <div id="table-container">
    <h2>Tabulka naměřených hodnot</h2>
    <!--
    <form class="table-content">
      <label for="add-new-value"><b>Přidat hodnotu: </b></label>
      <input type="text" name="value" id="add-value">
      <input type="button" value="přidat" onclick="add_value()">
    </form>
    <script>
      function add_value(){
        inputForm = document.getElementById("add-value");
        num = parseInt(inputForm.value);
        if (!isNaN(num)){
          // Smaže hodnoty z fronendu a backendu
          var req = new XMLHttpRequest();
          data = JSON.stringify({"value" : num, "greenhouseId" : {{greenhouseId}}});
          req.open("POST", "http://localhost:3000/api/insertValue?token="+localStorage.getItem("token"), true);
          req.setRequestHeader("Content-Type", "application/json");
          req.send(data);
        }
      }
    </script>
    -->
    <form class="table-content">
      <label for="delete-y-last-values"><b>Smazat počet hodnot: </b></label>
      <input type="text" name="y_last" id="delete_y_last_form">
      <input type="button" value="smaž" onclick="delete_values()">
    </form>
    <script>
      function delete_values(){
        inputForm = document.getElementById("delete_y_last_form");
        num = parseInt(inputForm.value);
        if (!isNaN(num)){
          // Smaže hodnoty z fronendu a backendu
          var req = new XMLHttpRequest();
          req.open("PATCH", "http://localhost:3000/api/deleteLast?token="+localStorage.getItem("token")+"&y=" + num + "&greenhouseId=" + {{greenhouseId}}, true);
          req.send();
        }
      }
    </script>
    <form class="table-content">
      <label for="show-x-last-values"><b>Zobrazit počet hodnot: </b></label>
      <input type="text" name="show_x_last" id="show_x_last_form">
      <input type="button" value="zobrazit" onclick="show_values()">
    </form>
    <script>
      function show_values(){
        inputForm = document.getElementById("show_x_last_form");
        num = parseInt(inputForm.value);
        if (!isNaN(num)){
          // Smaže hodnoty z fronendu a backendu
          var req = new XMLHttpRequest();
          req.open("GET", "http://localhost:3000/api/showLast?token="+localStorage.getItem("token")+"&x=" + num + "&greenhouseId=" + {{greenhouseId}}, true);
          req.onreadystatechange = function () {
            if (req.status == 200 && req.readyState == 4) {
              var content = JSON.parse(req.response);
              tableDeleteAllRows();
              tableInsertRows(content);
            }
          };
          req.send();
        }
      }
    </script>
    <table id="table-values" rules="rows">
      <thead>
        <tr>
          {% for key in keys %}
            <th>{{key}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <script type="module">
      // Vložení hodnot do tabulky
      tableInsertRows({{ last_values | safe }});
    </script>
  </div>
  <footer>

  </footer>

  <script>

    var meassurements = {{ last_values | safe }};   // Reading content of python jinja variable and saving it into javascript var
    var temp = [];
    var timestamp = [];
    for (let index = meassurements.length-1; index >= 0; index--) {
      temp.push(meassurements[index][1]);
      timestamp.push(meassurements[index][0]);
    }

    const ctx = document.getElementById("line-chart").getContext('2d');
    const chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: timestamp,
        datasets: [{
          label: 'Teplota',
          backgroundColor: 'rgba(255,127,80, 0.8)', 
          borderColor: 'rgb(225, 54, 100)',
          data: temp,
        }]
      },
      options: {
        responsive: false,
        maintainAspectRatio: false,
        width: 1200,
        height: 400,
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
            }
          }]
        }
      },
    });

    const socket = new WebSocket("ws://localhost:8001");
    greenhouseId = {{greenhouseId}};
    socket.onopen = () => socket.send(greenhouseId + ";" + localStorage.getItem("token"));  // Odeslání tokenu na server pro oveření uživatele
    socket.onmessage = ({ data }) => {
      console.log(data);
      values = data.split(";");
      chart.data.labels.push(values[0]);
      chart.data.datasets[0].data.push(values[1]);
      chart.update();
    };

    window.addEventListener("beforeunload", function (e) {
      socket.close();
      console.log("websocket closed")
    })
  </script>
{% endblock %}

