{% extends 'base.html' %}

{% block advancedHead %} 
    
{% endblock %}

{% block form %}{{"Skleníky"}}{% endblock %}
{% block username %}<a class="navbar-a" href="">{{username}}</a>{% endblock %}
{% block log_out %}<a class="navbar-a" href="http://localhost:3000/login" onclick="LogOut()">Log out</a>{% endblock %}
<script>
  function LogOut(){
    localStorage.removeItem("token");
  }
</script>
{% block content %}
 <div>
    <h1>Seznam skleníků</h1>
    <div class="list-group" name="list_greenhouse">
        
    </div>
    <form class="table-content">
        <label for="add-new-value"><b>Název skleníku: </b></label>
        <input type="text" name="value" id="add-value">
        <label for="add-new-value"><b>Popisek: </b></label>
        <input type="text" name="value" id="add-desc">
    </form>
    <div>
        <button type="button" class="btn btn-primary" onclick="add_greenhouse()">Přidat</button>
    </div>
    <script>
        load_all();

        function load_all(){
            var req = new XMLHttpRequest();
            req.open("GET", "http://localhost:3000/api/selectallGreenhouses?token=" + localStorage.getItem("token"), true);
            req.onreadystatechange = function () {
                if (req.status == 200 && req.readyState == 4) {
                    var content = JSON.parse(req.response);
                    for(let i = 0; i < content.length; i++){
                        add_to_list(content[i][1],content[i][2], content[i][0]);
                    }
                }
            };
            req.send();
        }

        function add_greenhouse(){
            var name = document.getElementById("add-value").value;
            description = document.getElementById("add-desc").value;
            var body = JSON.stringify({"greenhouse_name" : name, "description" : description});
            var req = new XMLHttpRequest();
            req.open("POST", "http://localhost:3000/api/addGreenhouse?token=" + localStorage.getItem("token") + "&name=" + name, true);
            req.setRequestHeader("Content-Type", "application/json");
            req.onreadystatechange = function () {
                if (req.status == 200 && req.readyState == 4) {
                    var content = JSON.parse(req.response);
                    greenhouseId = content["id"];
                    heading = greenhouseId + ".    " + name;
                    add_to_list(heading, description, greenhouseId);
                }
            };
            req.send(body);
        }
        
        function add_to_list(heading, description, greenhouseId){
            const new_item = `
                <a href="http://localhost:3000/dashboard?token=${localStorage.getItem("token")}&greenhouseId=${greenhouseId}" class="list-group-item list-group-item-action active" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">${heading}</h5>
                    <small></small>
                </div>
                <p class="mb-1">${description}</p>
                <small></small>
                </a>`
                ;
            document.getElementsByName("list_greenhouse")[0].innerHTML += new_item;
        }

        function delete_greenhouse(){
            // TODO
        }
    </script>
 </div>
{% endblock %}
