{% extends 'base.html' %}
{% block form %}{{"Přihlašovací formulář"}}{% endblock %}
{% block log_out %}<a class="navbar-a" href="/signUp">Sign up</a>{% endblock %}
{% block content %}
<div class="form">
    <form>
        <label for="login_username_input"><b>Username:</b></label>
        <input type="text" name="username" id="login_username_input"><br><br>
        <label for="login_password_input"><b>Password:</b></label>
        <input type="password" name="password" id="login_password_input"><br><br>
        <input type="button" id="form-button" value="Log in" onclick="Login()">
    </form>
    <script>
        function Login() {
            usernameInput = document.getElementById("login_username_input");
            passInput = document.getElementById("login_password_input");
            
            username = usernameInput.value;
            password = passInput.value;

            data = JSON.stringify({"username" : username, "password" : password})
            // Smaže hodnoty z fronendu a backendu
            var req = new XMLHttpRequest();
            req.open("POST", "http://localhost:3000/api/getToken", true);
            req.setRequestHeader("Content-Type", "application/json");
            req.onreadystatechange = function () {
                if (req.status == 200 && req.readyState == 4) {
                    var content = JSON.parse(req.response);
                    var token = content["token"];
                    localStorage.setItem("token", token);
                    window.location.href = window.location.href.replace("/login", "/greenhouses?token="+token);
                    //requestDashboard = new XMLHttpRequest();
                    //requestDashboard.open("GET", "http://localhost:3000/dashboard?token="+token, true);
                    //requestDashboard.send();
                }
            };
            req.send(data);
        }
    </script>
</div>
{% endblock %}
