{% extends 'base.html' %}
{% block form %}{{"Registrační formulář"}}{% endblock %}
{% block log_out %}<a class="navbar-a" href="/login">Log in</a>{% endblock %}
{% block content %}
<div class="form">
    <form>
        <label for="signUp_username_input"><b>Username:</b></label>
        <input type="text" name="username" id="signUp_username_input"><br><br>
        <label for="signUp_password_input1"><b>Password:</b></label>
        <input type="password" id="signUp_password_input1"><br><br>
        <label for="signUp_password_input2"><b>Password:</b></label>
        <input type="password" id="signUp_password_input2"><br><br>
        <input type="button" value="Sign up" onclick="SignUp()">
    </form>
    <script>
        function SignUp(){
            usernameInput = document.getElementById("signUp_username_input");
            passInput1 = document.getElementById("signUp_password_input1");
            passInput2 = document.getElementById("signUp_password_input2");
            
            username = usernameInput.value;
            password1 = passInput1.value;
            password2 = passInput2.value;

            if (password1 != password2){
                alert("Not matching passwords");
                return;
            }
            // Smaže hodnoty z fronendu a backendu
            var data = JSON.stringify({"username" : username, "password" : password1});
            var req = new XMLHttpRequest();
            req.open("POST", "http://localhost:3000/api/addUser", true);
            req.setRequestHeader("Content-Type", "application/json");
            req.onreadystatechange = function () {
                if (req.status == 200 && req.readyState == 4) {
                    var tokenRequest = new XMLHttpRequest();
                    tokenRequest.open("POST", "http://localhost:3000/api/getToken", true);
                    tokenRequest.setRequestHeader("Content-Type", "application/json");
                    tokenRequest.onreadystatechange = function () {
                        if (tokenRequest.status == 200 && tokenRequest.readyState == 4) {
                            var content = JSON.parse(tokenRequest.response);
                            var token = content["token"];       // Save token to global variable
                            localStorage.setItem("token", token);
                            window.location.href = window.location.href.replace("/signUp", "/greenhouses?token="+token);
                        }
                    };
                    tokenRequest.send(data);
                }
            };
            req.send(data);
        }
    </script>
</div>
{% endblock %}
